@tailwind base;
@tailwind components;
@tailwind utilities;

.close {
    color: #fff;
    transform: scale(1.2)
}
.modal-content {
    font-weight: bold;
    /*background: linear-gradient(to bottom right, #2d94cb, #5351c5);*/
    background: #ffffff;
    text-align: center;
}

.login {
    padding: 6px 20px;
    border-radius: 15px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
}
.login:hover {
    background: #FAB87F;
    color: #fff;
}
.close {
    color: #fff;
    transform: scale(1.2);
}
.dealInfo {
    justify-content: space-between;
    margin-top: 5px;
    color: #f8f1ff;
    display: flex;
    padding: 3px;
    border-color: #f8f1ff;
    font-weight: normal;
}
.hr-shelf {
    margin: auto;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #a4a4a4;
    box-shadow: 0 20px 20px -20px #333;
    width: 85%;
}
.labelTelegram{
    width: 100%;
    text-align: start;
    color: white;
}

.input-opacity {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0)
}

.label {
    width: 80px;
    height: 80px;
    margin: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, .18);
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    overflow: hidden;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    -webkit-transition: -webkit-box-shadow .25s;
    -moz-transition: box-shadow .25s;
    -o-transition: box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    border-radius: 2px;
    background-color: #fff;
    padding: 15px;
    color: #fff;
    box-sizing: border-box !important;
}

.description{
    font-weight: 300;
    flex: 1 0 auto;
    text-align: right;
}

.calc_result_item{
    margin-bottom: 30px;
}

.gradient-45deg-semi-dark{
    -webkit-box-shadow: 0 6px 20px 0 rgba(51, 105, 230, .5) !important;
    box-shadow: 0 6px 20px 0 rgba(51, 105, 230, .5) !important;
    border-radius: 5px;
    background: linear-gradient(-90deg, #00aeff, #3369e6) !important;
}


.gradient-45deg-deep-orange-orange{
    -webkit-box-shadow: 0 6px 20px 0 rgb(241, 95, 121) !important;
    background: #B24592;
    background: -webkit-linear-gradient(45deg, #B24592, #F15F79) !important;
}

.boxes {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px
}

.value {
    font-weight: 800;
    color: #ffffff;
    font-size: 25px
}

.rub:after {
    content:'₽';
}

.percent:after {
    content:'%';
}


.input-file {
    position: relative;
    display: inline-block;
}
.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    vertical-align: middle;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    background-color: #2c73fd;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
    background-color: #59be6e;
}
.input-file:active span {
    background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}

.btnSok {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    vertical-align: middle;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    background-color: #2c73fd;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
}
.btnSok:hover{
    background-color: #0500a6;
    color: #ffffff;
}

.btnSok:active  {
    background-color: #2c73fd;
}



.form-select-inline {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #f8fafc;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 15px;
}

