@tailwind base;
@tailwind components;
@tailwind utilities;

.close {
    color: #fff;
    transform: scale(1.2)
}

.login {
    padding: 6px 20px;
    border-radius: 15px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
}
.login:hover {
    background: #FAB87F;
    color: #fff;
}
.close {
    color: #fff;
    transform: scale(1.2);
}
.dealInfo {
    justify-content: space-between;
    margin-top: 5px;
    color: #f8f1ff;
    display: flex;
    padding: 3px;
    border-color: #f8f1ff;
    font-weight: normal;
}
.hr-shelf {
    margin: auto;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #a4a4a4;
    box-shadow: 0 20px 20px -20px #333;
    width: 85%;
}

.textarea-element {
    background-color: rgb(241, 240, 240);
    border-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    color: #312D3A;
    width: 250px;
    max-height: 250px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.textarea-element::-webkit-scrollbar {
    width: 0;
}

.textareaModal {
    background-color: #00000000;
    font-size: 14px;
    width: 300px;
    max-height: 250px;
    justify-content: start;
    display: flex;
    flex-direction: column
}

.telegramInlineButton {
    height: 32px;
    border-radius: 5px;
    margin:2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight:400;
    width: 100%;
    background-color: #d9d9d9;
    color: #1f1f1f;
}

.telegramKeyboardButton {
    height: 32px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight:400;
    width: 100%;
    background-color: #d9d9d9;
    color: #151515;
}

.labelTelegram{
    width: 100%;
    text-align: start;
    color: white;
}

.input-opacity {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0)
}

.description{
    font-weight: 300;
    flex: 1 0 auto;
    text-align: right;
}

.calc_result_item{
    margin-bottom: 30px;
}

.gradient-45deg-semi-dark{
    -webkit-box-shadow: 0 6px 20px 0 rgba(51, 105, 230, .5) !important;
    box-shadow: 0 6px 20px 0 rgba(51, 105, 230, .5) !important;
    border-radius: 5px;
    background: linear-gradient(-90deg, #00aeff, #3369e6) !important;
}


.gradient-45deg-deep-orange-orange{
    -webkit-box-shadow: 0 6px 20px 0 rgb(241, 95, 121) !important;
    background: #B24592;
    background: -webkit-linear-gradient(45deg, #B24592, #F15F79) !important;
}

.boxes {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px
}

.value {
    font-weight: 800;
    color: #ffffff;
    font-size: 25px
}

.rub:after {
    content:'₽';
}

.percent:after {
    content:'%';
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numberFormControl {
    width: 40px !important;
    height: 31px !important;
    padding: 6px !important;
}